@import '/src/common/modern-reset.css';

.case-01 {
  background: yellow;
  margin: 20px;
  width: 360px;
  border: 2px solid red;
  border-radius: 4px;

  ul {
    background: pink;
  }

  li {
    background: lime;
    display: inline-block;
  }
}
